
@{
    ViewBag.Title = "_indice_log_register";
}

<div id="index">
	<h1 id="titulo_general">Bienvenido a Retroverse</h1>
	<a class="effect" href="~/Account/Login">Login</a>
	<a class="effect" href="~/Account/Register">Registro</a>
</div>

