@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "arcanoid";
}
<link href="../../Content/arcanoid.css" rel="stylesheet" type="text/css" />
<h2>arcanoid</h2>
<div class="row" id="arcanoid">
    <div class="col-md-12">
        <article id="tablero"></article>
        <div id="puntuacion">
            <p>Vidas:<span> 3 </span></p>
            <p>Puntuacion: <span> 0 </span></p>
        </div>
        <script src="../../jsgames/arcanoid.js"></script>
    </div>
</div>