
@{
    ViewBag.Title = "g2048";
}
<link href="../../Content/2048.css" rel="stylesheet" type="text/css"/>
<style>
    body{
        background-image:url('../../Content/images/index.jpg')
    }
</style>
<h2>2048</h2>

<center>
	@if (!Request.Browser.IsMobileDevice)
	{
	<div class="row">
		<div class="col-md-12">
			<div id="tablero"></div>
			<h2 id="scor">Score : <span style="display:inline;" id="score"></span></h2>
			<script src="../../jsgames/game2048.js" language="javascript" type="text/javascript"></script>
		</div>
	</div>

	}
	else
	{
		@Html.Partial("_NotSupported");
	}
</center>