@using proyecto_final_moha_nestor.Models;
@{
    ViewBag.Title = "Arcanoid";
}

@{	
	var record = (RecordsViewModel[])ViewData["Records"];
}
}
<style>
    body{
        background-image:none;
        background-color:black;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<center>
	<div id="records">
		<div class="row">
			<div class="col-md-12 cabecera"> Records en Arcanoid</div>
		</div>
			@{var c = 1;


				while (record[c-1] != null)
				{
				<div class="row">
					<div class="col-md-1 datos">@c.</div>
					<div class="col-md-4 datos">@record[c-1].Username</div>
					<div class="col-md-5 datos">@record[c-1].time</div>
					<div class="col-md-2 datos">@record[c-1].score puntos</div>
				</div>
					c++;
					if (c > 10) { break; };
				}
			}
	</div>
</center>