@using proyecto_final_moha_nestor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/index.css" type="text/css" />
@if (!Request.IsAuthenticated)
{
	@Html.Partial("_indice_log_register");
}
else
{

}


<div class="fila">
    <div class="column">
      <h2>Retroverse</h2>
       <p>  Bienvenido a Retroverse, una pequeña página web donde se hacen cosas muy grandes y originales.
            Tenemos tu plan perfecto para hoy si lo que te apetece es evadirte.
            Contamos con un arcanoid y 2048 de los más retro y estelar.
            ¿Alcanzarás las estrellas con tu récord?
            Si no es así, acuérdate, se aprende más en los juegos que se pierden que en las partidas que se ganan.
            En la parte superior de la página puedes acceder a nuestros entretenidos juegos. ¡No te los pierdas por nada del mundo!
            Si quieres contactar con nosotros, solo tienes que clickear la pestaña 'Contáctanos'.
            ¿Tienes el teclado a mano? ¿A qué esperas para jugar?
            Esperamos que disfrutes. Recuerda que la diversión aquí no tiene límites, sólo pixeles.
        </p>
    </div>
    <div class="column">
        <h2>Quienes somos</h2>
        <p>Somos una comunidad de jugadores creada en 2018 por dos estudiantes. 
			Día a día ha ido creciendo hasta convertirse en lo que es ahora.
			Cada usuario puede incluir sus propios juegos en la plataforma, haciendo que esta crezca exponencialmente, por lo que los juegos que incluye irán aumentando.
			Para cualquier consulta o sugerencia contacta con nosotros mediante en enlace superior.
				</p>
    </div>
</div>