@using proyecto_final_moha_nestor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/index.css" type="text/css" />
@if (!Request.IsAuthenticated)
{
	@Html.Partial("_indice_log_register");
}
else
{

}


<div class="fila">
    <div class="column">
      <h2>Retroverse</h2>
       <p>  Bienvenido a Retroverse, una pequeña página web donde se hacen cosas muy grandes y originales.
            Tenemos tu plan perfecto para hoy si lo que te apetece es evadirte.
            Contamos con un arcanoid y 2048 de los más retro y estelar.
            ¿Alcanzarás las estrellas con tu récord?
            Si no es así, acuérdate, se aprende más en los juegos que se pierden que en las partidas que se ganan.
            En la parte superior de la página puedes acceder a nuestros entretenidos juegos. ¡No te los pierdas por nada del mundo!
            Si quieres contactar con nosotros, solo tienes que clickear la pestaña 'Contáctanos'.
            ¿Tienes el teclado a mano? ¿A qué esperas para jugar?
            Esperamos que disfrutes. Recuerda que la diversión aquí no tiene límites, sólo pixeles.
        </p>
    </div>
    <div class="column">
        <h2>Quienes somos</h2>
        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
    </div>
</div>
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->