@using Microsoft.AspNet.Identity
@model proyecto_final_moha_nestor.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Opciones de cuenta de usuario</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
		<dt> Nombre de usuario </dt>
		<dd>@User.Identity.GetUserName()</dd>
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambia tu contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("crear", "asignar contraseña")
            }
            ]
        </dd>
    </dl>
</div>
